::before,
::after,
* {
    margin:0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4{
    text-transform: capitalize;
}

 a ,ul > li{
    list-style-type:none;
    text-decoration: none;
}
header{
    box-shadow: 0 0 15px 0  black;
    height: 13vh;
    margin-bottom:20px;
    font-size: 3rem;
}
.app-main-container{
    display : flex;
    flex-wrap: wrap;
}
.main-container {
    display: flex;
    margin: 16px;
}
.main-sec{

    width:  290px;
    border : 2px solid rgb(204, 202, 202);
    border-radius : 11px;
    box-shadow: 4px 4px rgb(189, 188, 188);
    padding : 16px 32px;
    background-color: white;
    margin: 8px 24px;
}
.main-sec img{
    width : 200px;
    min-width: 200px;
}
.main-sec .name{
    font-weight: 500;
    font-size: 24px;
    
}
.main-sec .job{
    font-size:16px;
    font-weight: 100;
    margin : 8px 0;
}
.main-sec form > button{
    padding:8px 16px;
    font-size:12px;
    margin-right: 8px;
    text-transform: uppercase;
}
.main-sec section{
    text-align: center;
   
}



nav{
    width: 100%;
    display: flex;
    align-items: center;
}

img{
    margin-right: auto;
    width: 40px;
}

ul {
    display : flex;
    
}

ul > li {
    margin : 10px;
}
ul > li > a{
    text-transform: capitalize;
    font-size: 25px;
}
footer {
    position:absolute;
    bottom: 0;
    font-size: 30px; 
}




